.plus-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: #ebff82;
  background: white;
  box-shadow: var(--white-box);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.3s ease;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 25%;
  z-index: 1000;
}
.plus-circle.active {
  background: #222;
  box-shadow: var(--black-box);
}

.plus-circle.rotate {
  transform: rotatez(310deg);
}

.site-links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.site-links li {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  font-size: 50px;
  width: 100%;
  position: absolute;
  transition: 1s ease;
  left: 0;
  top: 0;
  opacity: 0;
}
.facebook.open {
  transform: translateY(300px);
  opacity: 1;
}

.instagram.open {
  transform: translateY(200px);
  opacity: 1;
}

.twitter.open {
  transform: translateY(110px);
  opacity: 1;
}

.youtube.open {
  transform: translateY(400px);
  opacity: 1;
}

.nomadcoders img {
  width: 60px;
  height: 60px;
}

.nomadcoders.open {
  transform: translateY(500px);
  opacity: 1;
}

.fa-facebook {
  color: #3b5998;
}
.fa-instagram {
  color: rgb(221, 42, 123);
}
.fa-youtube {
  color: rgb(230, 33, 23);
}
.fa-twitter {
  color: #00acee;
}
