.quotes {
  position: absolute;
  bottom: 0;
  width: 100%;
  box-shadow: var(--white-box);
  border-radius: 20px;
}

.quotes.active {
  box-shadow: var(--black-box);
  color: var(--white-color);
}

.quotes h3 {
  display: flex;
  justify-content: center;
  align-items: center;
}
